
@font-face {
    font-family: quicksand;
    src: url(./fonts/Quicksand-VariableFont_wght.ttf)
}

body {
    display: grid;
    grid-template-columns: 1920px;
    grid-template-rows: 1080px;
    font-family: quicksand, sans-serif;
}

.sidebar {
    grid-area: 1 / 1 / 2 / 1;
}

.header {
    display:inline-flex;
    grid-area: 1 / 2 / 1 / 2;
    justify-content: space-between;
}