
@font-face {
    font-family: quicksand;
    src: url(./fonts/Quicksand-VariableFont_wght.ttf)
}

body {
    grid-template-columns: 1920px;
    grid-template-rows: 1080px;
    font-family: quicksand, sans-serif;
}