
@font-face {
    font-family: quicksand;
    src: url(./fonts/Quicksand-VariableFont_wght.ttf)
}

body {
    display: grid;
    grid-template-columns: min(300px);
    grid-template-rows: auto;
    grid-gap: 15px;
    font-family: quicksand, sans-serif;
}

.sidebar {
    grid-area: 1 / 1 / 3 / 1;
    background-color: #2AB7F7;    
}

.nav-list {
    justify-content: space-between;
    padding-bottom: 25px;
    text-align: center;
    list-style-type: none;
    display: flexbox;
}

.side-tit {
    text-align: center;
    margin-bottom: 65px;
}

.header {
    display:inline-flex;
    grid-area: 1 / 2 / 1 / 2;
    justify-content: space-between;
    
}

.your-projects {
    
    grid-area: 2 / 2 / 2 / 2;
}

.announcements {
    grid-area: 2 / 3 / 2 / 3;
}