
@font-face {
    font-family: quicksand;
    src: url(./fonts/Quicksand-VariableFont_wght.ttf)
}

body {
    display: grid;
    grid-template-columns: repeat(2, 0fr);
    grid-template-rows: repeat(2, 0.3fr);
    grid-gap: 15px;
    font-family: quicksand, sans-serif;
}

.sidebar {
    grid-column: 1;
    grid-row: span 2;    
    background-color: #2AB7F7; 
      
    width: 400px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.nav-list {
    justify-content: space-between;
    padding-bottom: 25px;
    text-align: center;
    list-style-type: none;
   
    align-items: center;
    flex-wrap: wrap;
    flex-basis: 160px;
    flex-grow: 1;
}

.side-title {
    grid-area: 1 / 1 / 1 / 1;
}

.user-nav {
    grid-area: 2 / 1 / 2 / 1;
}

.support-nav {
    grid-area: 3 / 1 / 3 / 1;
}


.home-icon {
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
}

.profile-icon {
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
}

.message-icon{
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
}

.history-icon {
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
}

.task-icon {
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
}

.comm-icon {
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
    padding-right: 51px;
}

.settings-icon {
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
}

.support-icon {
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
}

.privacy-icon {
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
}

.side-tit {
    text-align: center;
    margin-bottom: 65px;
}

.header {
    display: flex;
    grid-area: 1 / 2 / 1 / 2;
    justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 15px;
    width: 1010px;
    
}

.header-search {
    grid-area: 1 / 1 / 1 / 2;
    display: flex; /* Aligns the icon and input field */
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 25px; /* Optional: adds rounded corners */
  padding-left: 10px; /* Space for the icon */
  width: 400px; /* Makes the bar 'long' */
  height: 30px;
}

.search-input {
  /* Hides the input field initially */
  width: 0;
  padding: 0;
  border: none;
  background: transparent;
  outline: none;
  font-size: 16px;
  transition: width 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94), padding 0.5s;
}

.search-icon {
  /* Using a background image for the icon */
  background-image: url('magnifying-glass-icon.png'); /* Replace with your icon path */
  background-size: contain;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.search-input {
  flex-grow: 1; /* Makes the input field take up the remaining space */
  border: none;
  padding: 10px 0; /* Adjust padding as needed */
  outline: none; /* Removes the default input focus outline */
  font-size: 16px;
}

.mag {
    height: 20px;
    width: 20px;
}

.notifications {
    height: 30px;
    width: 30px;
    padding-right: 45px;
   
}
.user-profile {
    padding-right: 45px;
}

.user-notice {
     grid-area: 1 / 2 / 1 / 2;
    display: inline-flex;
    
   
    
}

.header-welcome {
    grid-area: 2 / 1 / 2 / 1;
    display: inline-block;
    flex-wrap: wrap;
    padding-left: 125px;
   
    
}

.welcome-profile {
    grid-area: 2 / 1 / 2 / 1;
    display: flex;
    align-items: center;
    justify-items: center;
    margin-top: 30px;
    margin-left: 30px;
}

.header-button {
    grid-area: 2 / 2 / 2 / 2;
    display: inline-flex;
    max-height: 45px;
}

.main-content {
    
    grid-area: 2 / 2 / 2 / 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
    width: 700px;
    height:700px;
    background-color: lightgray;
}

.project-tile {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
    width: 700px;
    height:700px;
    justify-content: center;
    align-content: center;
}
.tile {

  border: 1px solid black;
  /* Optional: centers content within each item */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 15px; 
  grid-area: auto;
  border-radius: 10px;
  box-shadow: black;
}

.announcements {
    grid-area: 1 / 2 / 1 / 2;
    width: 300px;
    height:500px;
    border: solid 1.5px black;
    border-radius: 10px;
    place-items: center;
}

.trending {
    grid-area: 2 / 2 / 2 / 2;
    width: 300px;
    height: 180px;
    margin-top: 15px;
    
    border: solid 1.5px black;
    border-radius: 10px;
}


